<div id="calculator">

    <!--font awesome-->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

    <!--Bootstrap-->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/lumen/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-lBO0+E/aIJhpRIYjP6dJ1mNYgo3hhUBPcF74XRfOM27g7WmDuitolvnUENdDG4QI" crossorigin="anonymous">

    <!--custom-->
    <style>
        .calc-container p {
            font-size: 16px;
        }

        .calc-container {
            width: 100%;
            margin: 0px auto;
            padding-right: 0;
            padding-left: 0;
            max-width: 660px;
        }

        .calc-container button {
            width: 100%;
        }

        .calc-container .div {
            text-align: center;
        }

        .calc-container .form-group {
            display: inline-flex;
        }

        .calc-container .row {
            margin-top: 20px;
        }

        .calc-container .well {
            min-height: 20px;
            background-color: #f5f5f5;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            width: 472px;
            font-size: 17px;
            margin: -2px -2px;
            padding: 16px 0px;
        }

        .calc-container .well > div {
            padding: 0 37px;

        }

        .calc-container .btn-results-container.row {
            margin-top: 36px;
        }

        .calc-container .btn-results-container .row {
            margin-top: 9px;
        }


        .calc-container .input-container label {
            font-size: 20px;
            margin-top: 9px;
        }

        .calc-container .input-container input {
            font-size: 20px;
        }

        .calc-container .input-container .icon-container {
            padding: 0px 0px;
            font-size: 26px;
        }

        .calc-container .input-container .icon-container:hover .fa {
            color: #438dba;
        }

        .fa {
            color: black;
        }

        .tooltip {
            font-size: 16px;
        }

        .tooltip.show {
            font-size: 16px;
        }

        .tooltip.hide {
            font-size: 16px;
        }

        .calc-container .img-container{
            padding: 19px 32px;
        }

        .calc-container button{
            height: 154px;
            font-size: 20px;

        }


    </style>

    <div class="calc-container">
        <p align="justify">
            This calculator will tell you the one-tailed and two-tailed probability values of a t-test, given the t-value and the degrees of freedom.

            Please enter the necessary parameter values, and then click 'Calculate'.
        </p>
        <div class="input-container">
            <div class="row">
                <div class="col-sm-5">
                    <label for="df">Degrees of freedom:	 </label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="df">
                </div>
                <div class="col-sm-1 icon-container">
                    <a href="#" data-toggle="tooltip" data-placement="right"
                       title="The degrees of freedom for the distribution.">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <label for="tval">t-value:	 </label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="tval">
                </div>
                <div class="col-sm-1 icon-container">
                    <a href="#" data-toggle="tooltip" data-placement="right" title="A value from the t-distribution.">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </div>

        <div class="btn-results-container row">
            <div class="col-sm-3">
                <button type="button" onclick="computeValue()" class="btn btn-primary btn-lg btn-block">CALCULATE
                </button>
            </div>
            <div class="col-sm-9">
                <div id="results-container-well" class="well">
                    <div>
                        <div class="row">
                            <div class="col-sm-8">
                                <label for="onetailright">One-tailed probability (right tail) </label>
                            </div>
                            <div class="col-sm-1">
                                <label>:</label>
                            </div>
                            <div class="col-sm-3">
                                <label id="onetailright"> </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <label for="onetailleft">One-tailed probability (left tail): </label>
                            </div>
                            <div class="col-sm-1">
                                <label>:</label>
                            </div>
                            <div class="col-sm-3">
                                <label id="onetailleft"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <label for="twotail">Two-tailed probability: </label>
                            </div>
                            <div class="col-sm-1">
                                <label>:</label>
                            </div>
                            <div class="col-sm-3">
                                <label id="twotail"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jstat@1.7.1/dist/jstat.min.js"
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        var SIGNIFICANT = 8;

        function log10($n) {
            return Math.log($n) / Math.log(10);
        }

        function integer($i) {
            if ($i > 0)
                return Math.floor($i);
            else
                return Math.ceil($i);
        }

        function precision($x) {
            return Math.abs(integer(log10(Math.abs($x)) - SIGNIFICANT));
        }

        function round_to_precision($x, $p) {
            $x = $x * Math.pow(10, $p);
            $x = Math.round($x);
            return $x / Math.pow(10, $p);
        }

        function precision_string($x) {
            if ($x) {
                return round_to_precision($x, precision($x));
            } else {
                return "0";
            }
        }


        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
//            $('#results-container-well').hide();
        });

        function computeValue() {
            var tval = $('#tval').val();
            var df = $('#df').val();



            var ttwotailed;
            var tright;
            try {
                var samplesize = df + 1;
                var twotailprob = precision_string(jStat.ttest(1.25,16,2));
                var onetailright = precision_string(jStat.ttest(1.25,16,1));
                var onetailleft = precision_string(1-onetailright);

                $('#onetailright').text(onetailright);
                $('#onetailleft').text(onetailleft);
                $('#twotail').text(twotailprob);
                $('#results-container-well').show();
            }
            catch (err) {
                alert("Invalid paremeters");
                $('#results-container-well').hide();
            }

        }
    </script>

</div>

