<div id="calculator">

    <!--font awesome-->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

    <!--Bootstrap-->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/lumen/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-lBO0+E/aIJhpRIYjP6dJ1mNYgo3hhUBPcF74XRfOM27g7WmDuitolvnUENdDG4QI" crossorigin="anonymous">

    <!--custom-->
    <style>
        .calc-container p {
            font-size: 16px;
        }

        .calc-container {
            width: 100%;
            margin: 0px auto;
            padding-right: 0;
            padding-left: 0;
            max-width: 660px;
        }

        .calc-container button {
            width: 100%;
        }

        .calc-container .div {
            text-align: center;
        }

        .calc-container .form-group {
            display: inline-flex;
        }

        .calc-container .row {
            margin-top: 5px;
        }

        #results-container-well{
            font-size: 14px;
        }

        #results-container-well .row .col-sm-1{
            padding:0;
        }

        #results-container-well label{
            line-height: 0;
        }

        .calc-container .well {
            min-height: 20px;
            background-color: #f5f5f5;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            width: 312px;
            font-size: 19px;
            margin: -2px -2px;
            padding: 6px 0px;
        }

        .calc-container .well > div {
            padding: 0 16px;

        }

        .btn-results-container.row{
            padding: 0 12%;
        }
        .btn-results-container.row > .col-sm-4, .btn-results-container.row > col-sm-8{
            padding: 0;
        }

        .btn-results-container.row > .col-sm-4{
            padding-right: 15px;
        }

        .calc-container .btn-results-container.row {
            margin-top: 16px;
        }

        .calc-container .btn-results-container .row {
            margin-top: 0px;
        }


        .calc-container .input-container{
            padding: 0 10%;
        }

        .calc-container .input-container label {
            font-size: 14px;
            font-weight: bolder;
            margin-top: 9px;
        }

        .calc-container .input-container input {
            font-size: 14px;
            font-weight: bolder;
            padding: 1% 4%;
        }

        .calc-container .input-container .icon-container {
            padding: 0px 0px;
            font-size: 26px;
            margin-top: -3px;
        }

        .calc-container .input-container .icon-container:hover .fa {
            color: #438dba;
        }

        .calc-container .input-container .row .col-sm-3 {
            padding-left: 0;
            padding-top: 1%;
        }

        .fa {
            color: black;
        }

        .tooltip {
            font-size: 14px;
        }

        .tooltip.show {
            font-size: 14px;
        }

        .tooltip.hide {
            font-size: 14px;
        }

        .calc-container .img-container{
            padding: 19px 32px;
        }

        .calc-container button{
            height: 39px;
            font-size: 14px;
        }

        button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus{
            background-color: #158CBA;
        }

    </style>

    <div class="calc-container">
        <p align="justify">
            This calculator will tell you the mean, median, mode and range of the given data sample.

            Please provide numbers separated by comma, and then click 'Calculate'.
        </p>
        <div class="input-container">
            <div class="row">
                <div class="col-sm-2">
                    <label for="val1">Data set :	</label>
                </div>
                <div class="col-sm-9">
                    <textarea rows="4" cols="50" class="form-control" id="val1"></textarea>
                </div>
                <div class="col-sm-1 icon-container">
                    <a href="#" data-toggle="tooltip" data-placement="right" title="Data sample separated by commas">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="btn-results-container row">
            <div class="col-sm-4">
                <button type="button" onclick="computeValue()" class="btn btn-primary btn-lg btn-block">CALCULATE
                </button>
            </div>
            <div class="col-sm-8" style="padding: 0;">
                <div id="results-container-well" class="well">
                    <div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="mean">Mean	</label>
                            </div>
                            <div class="col-sm-1">
                                <label>:</label>
                            </div>
                            <div class="col-sm-7">
                                <label id="mean"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="mode">Mode</label>
                            </div>
                            <div class="col-sm-1">
                                <label>:</label>
                            </div>
                            <div class="col-sm-7">
                                <label id="mode"> </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="median">Median </label>
                            </div>
                            <div class="col-sm-1">
                                <label>:</label>
                            </div>
                            <div class="col-sm-7">
                                <label id="median"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="range">Range </label>
                            </div>
                            <div class="col-sm-1">
                                <label>:</label>
                            </div>
                            <div class="col-sm-7">
                                <label id="range"></label>
                            </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jstat@1.7.1/dist/jstat.min.js"
            crossorigin="anonymous"></script>
    <!--algos-->
    <script type="text/javascript">
        function sort_array_number(a, b) {
            return a - b;
        }

        function cal_mean(total,n) {
            return total/n;
        }

        function cal_median(arr) {
            var median;
            if (arr.length%2 != 0) {
                median = arr[(parseInt(arr.length-1)/2)];
            } else {
                median = ( parseFloat(arr[parseInt(arr.length/2)]) +
                            parseFloat(arr[parseInt((arr.length)/2)-1]) )/2;
            }
            return median;
        }

        function cal_mode(arr) {
            var maxValue = 0;
            var maxCount = 0;
            var lastValue = "";
            for (var i = 0; i < arr.length; ++i) {
                if (lastValue == arr[i])
                continue;
                lastValue = arr[i];
                var count = 0;
                for (var j = 0; j < arr.length; ++j)
                    if (arr[j] == arr[i]) ++count;
                if (count > maxCount) {
                    maxCount = count;
                    maxValue = arr[i];
                }
                else if (count == maxCount) {
                    maxValue += ',' + arr[i];
                }
            }

            return maxValue;
        }

        function cal_range(arr) {
            var minimum = arr[0];
            var maximum = arr[arr.length - 1];

            return maximum-minimum;
        }
    </script>


    <script type="text/javascript">
        var SIGNIFICANT = 8;

        function log10($n) {
            return Math.log($n) / Math.log(10);
        }

        function integer($i) {
            if ($i > 0)
                return Math.floor($i);
            else
                return Math.ceil($i);
        }

        function precision($x) {
            return Math.abs(integer(log10(Math.abs($x)) - SIGNIFICANT));
        }

        function round_to_precision($x, $p) {
            $x = $x * Math.pow(10, $p);
            $x = Math.round($x);
            return $x / Math.pow(10, $p);
        }

        function precision_string($x) {
            if ($x) {
                return round_to_precision($x, precision($x));
            } else {
                return "0";
            }
        }
        function computeValue(){
            var dataSet =  $('#val1').val();
            if(dataSet == ""){
                alert("No numbers were entered");
                $('#val1').css({color: 'white',background: '#da4242' });
                throw Error();
            }

            try {
                dataSet = dataSet.replace(' ','');
                var arr = dataSet.split(',');
                var total = 0;
                var n = arr.length;
                for(var j = 0; j < n; j++){
                    arr[j] = parseFloat(arr[j]);
                    total += arr[j];
                }
                var mean = cal_mean(total,n);
                arr.sort(sort_array_number);
                var median= cal_median(arr);
                var mode = cal_mode(arr);
                var range = cal_range(arr);

                $('#mean').text(mean);
                $('#mode').text(mode);
                $('#median').text(median);
                $('#range').text(range);
            }
            catch(err) {
                alert("Invalid paremeters");
                $('.results-container').hide();
            }

        }
    </script>


</div>


