<div id="jdc91xt_calculator">

        <!--font awesome-->
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

        <!--Bootstrap-->
        <link href="https://bootswatch.com/4/united/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

        <!--custom-->
        <style>
            .calc-container p {
                font-size: 16px;
                padding: 0 0px 0 5px;

            }

            .calc-container .input-container {
                padding: 0 0 0 3px;
                margin-left: -8px;
            }
            .calc-container {
                width: 100%;
                margin: 0px auto;
                padding-right: 0;
                padding-left: 0;
                max-width: 660px;
            }

            .calc-container button {
                width: 100%;
            }

            .calc-container .div {
                text-align: center;
            }

            .calc-container .form-group {
                display: inline-flex;
            }

            .calc-container .row {
                margin-top: 5px;
            }

            #results-container-well{
                font-size: 14px;
            }

            #results-container-well .row .col-sm-1{
                padding:0;
            }

            #results-container-well label{
                line-height: 0;
            }

            .calc-container .well {
                min-height: 20px;
                background-color: #f5f5f5;
                border: 1px solid #e3e3e3;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                width: 550px;
                font-size: 19px;
                margin: -2px -2px;
                padding: 6px 0px;
            }

            .calc-container .well > div {
                padding: 0 16px;

            }

            .btn-results-container.row{
                padding: 13px 0px 0 0;
            }
            .btn-results-container.row > .col-sm-4, .btn-results-container.row > col-sm-8{
                padding: 0;
            }

            .btn-results-container.row > .col-sm-4{
                padding-right: 15px;
            }

            .calc-container .btn-results-container.row {
                margin-top: 16px;
            }

            .calc-container .btn-results-container .row {
                margin: 10px 0;
            }

            .calc-container .input-container label {
                font-size: 14px;
                font-weight: bolder;
                margin-top: 9px;
            }

            .calc-container .input-container input {
                font-size: 14px;
                font-weight: bolder;
                padding: 1% 4%;
            }

            .calc-container .input-container .icon-container {
                padding: 0px 0px;
                font-size: 26px;
                margin-top: -3px;
            }

            .calc-container .input-container .icon-container:hover .fa {
                color: #438dba;
            }

            .calc-container .input-container .row .col-sm-3 {
                padding-left: 0;
                padding-top: 1%;
            }

            .fa {
                color: black;
            }

            .tooltip {
                font-size: 14px;
            }

            .tooltip.show {
                font-size: 14px;
            }

            .tooltip.hide {
                font-size: 14px;
            }

            .calc-container .img-container{
                padding: 19px 32px;
            }

            .calc-container button{
                height: 39px;
                font-size: 14px;
            }

            button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus{
                background-color: #E95420;
            }

        </style>

        <div class="calc-container">
            <div id="title-div" class="row">
                <p  class="col-sm-8" align="justify">
                    This calculator will find your age in days, hours and minutes

                    Please enter your birthday, and then click 'Calculate'.
                </p>
            </div>
            <div class="input-container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <h5 class="col-sm-12">Today's Date is:</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="cur-day">Day:	</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="cur-day">
                            </div>
                            <div class="col-sm-1 icon-container">
                                <a href="#" data-toggle="tooltip" data-placement="right" title="Current Day.">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="cur-month">Month:	</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="cur-month">
                            </div>
                            <div class="col-sm-1 icon-container">
                                <a href="#" data-toggle="tooltip" data-placement="right" title="Current Month.">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="cur-yr">Year:	</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="cur-yr">
                            </div>
                            <div class="col-sm-1 icon-container">
                                <a href="#" data-toggle="tooltip" data-placement="right" title="Current Year.">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <h5 class="col-sm-12">Enter your Date of Birth:</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="bd-day">Day:	</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="bd-day">
                            </div>
                            <div class="col-sm-1 icon-container">
                                <a href="#" data-toggle="tooltip" data-placement="right" title="The Day you were born.">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="bd-month">Month:	</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="bd-month">
                            </div>
                            <div class="col-sm-1 icon-container">
                                <a href="#" data-toggle="tooltip" data-placement="right" title="The Month you were born.">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="bd-yr">Year:	</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="bd-yr">
                            </div>
                            <div class="col-sm-1 icon-container">
                                <a href="#" data-toggle="tooltip" data-placement="right" title="The Year you were born.">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-results-container row">
                <div class="col-sm-4">
                    <button type="button" onclick="computeValue()" class="btn btn-primary btn-lg btn-block">CALCULATE
                    </button>
                </div>
                <div class="col-sm-8" style="padding: 0;">
                    <div id="results-container-well" class="well">
                        <div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <label for="age">Your age is</label>
                                </div>
                                <div class="col-sm-1">
                                    <label>:</label>
                                </div>
                                <div class="col-sm-4">
                                    <label id="age"> </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <label for="age-days">Your age in days </label>
                                </div>
                                <div class="col-sm-1">
                                    <label>:</label>
                                </div>
                                <div class="col-sm-4">
                                    <label id="age-days"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <label for="age-hr">Your age in hours </label>
                                </div>
                                <div class="col-sm-1">
                                    <label>:</label>
                                </div>
                                <div class="col-sm-4">
                                    <label id="age-hr"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <label for="age-min">Your age in minutes</label>
                                </div>
                                <div class="col-sm-1">
                                    <label>:</label>
                                </div>
                                <div class="col-sm-4">
                                    <label id="age-min"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <label for="nxt-bd">Days left for your next Birthday</label>
                                </div>
                                <div class="col-sm-1">
                                    <label>:</label>
                                </div>
                                <div class="col-sm-4">
                                    <label id="nxt-bd"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jstat@1.7.1/dist/jstat.min.js"
                crossorigin="anonymous"></script>
        <!--algos-->
        <script type="text/javascript">

            function setCurrentDay() {
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1;
                var yyyy = today.getFullYear();

                var day = document.getElementById("cur-day");
                day.value = dd;
                var month = document.getElementById("cur-month");
                month.value = mm;
                var year = document.getElementById("cur-yr");
                year.value = yyyy;
            }

            window.onload = setCurrentDay();

            function datediff(dateFrom, dateTo)
            {
                var from = {
                    d: dateFrom.getDate(),
                    m: dateFrom.getMonth(),
                    y: dateFrom.getFullYear()
                };

                var to = {
                    d: dateTo.getDate(),
                    m: dateTo.getMonth(),
                    y: dateTo.getFullYear()
                };

                var daysFebruary = to.y % 4 != 0 || (to.y % 100 == 0 && to.y % 400 != 0)? 28 : 29;
                var daysInMonths = [31, daysFebruary, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

                if (to.d < from.d) {
                    to.d   += daysInMonths[parseInt(to.m)];
                    from.m += 1;
                }
                if (to.m < from.m) {
                    to.m   += 12;
                    from.y += 1;
                }

                return {
                    days:   to.d - from.d,
                    months: to.m - from.m,
                    years:  to.y - from.y
                };
            }

            function computeValue() {
                var curDay = $('#cur-day').val();
                var curMon = $('#cur-month').val();
                var curYr = $('#cur-yr').val();
                var bdDay = $('#bd-day').val();
                var bdMon = $('#bd-month').val();
                var bdYr = $('#bd-yr').val();

                try {
                    var curd = new Date(curYr,curMon-1,curDay);
		            var cald = new Date(bdYr,bdMon-1,bdDay);
                    var diff =  Date.UTC(curYr,curMon-1,curDay,0,0,0) - Date.UTC(bdYr,bdMon-1,bdDay,0,0,0);

                    var dife = datediff(cald,curd);

                    var age = dife.years+" yrs, "+dife.months+" m, & "+dife.days+" d";
                    var minleft = diff/1000/60;
                    var hrsleft = minleft/60;
                    var daysleft = hrsleft/24;

                    var as = parseInt(bdYr)+dife.years+1;
                    var diff =  Date.UTC(as,bdMon-1,bdDay,0,0,0) - Date.UTC(curYr,curMon-1,curDay,0,0,0);
                    var datee = diff/1000/60/60/24;

                    $('#age').text(age);
                    $('#age-days').text(daysleft);
                    $('#age-hr').text(hrsleft);
                    $('#age-min').text(minleft);
                    $('#nxt-bd').text(datee);

                }
                catch (err) {
                    alert("Invalid paremeters");
                }

            }
        </script>


    </div>


