<div id="jdc91xt_calculator">

        <!--font awesome-->
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

        <!--Bootstrap-->
        <link href="https://bootswatch.com/4/united/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

        <!--custom-->
        <style>
            .calc-container p {
                font-size: 16px;
                padding: 0 0px 0 5px;

            }
            .calc-container .input-container {
                padding: 0 0 0 3px;
                margin-left: -8px;
            }

            .calc-container {
                width: 100%;
                margin: 0px auto;
                padding-right: 0;
                padding-left: 0;
                max-width: 660px;
            }

            .calc-container button {
                width: 100%;
            }

            .calc-container .div {
                text-align: center;
            }

            .calc-container .form-group {
                display: inline-flex;
            }

            .calc-container .row {
                margin-top: 5px;
            }

            #results-container-well{
                font-size: 14px;
            }

            #results-container-well .row .col-sm-1{
                padding:0;
            }

            #results-container-well label{
                line-height: 0;
            }

            .calc-container .well {
                min-height: 20px;
                background-color: #f5f5f5;
                border: 1px solid #e3e3e3;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                width: 389px;
                font-size: 19px;
                margin: -2px -2px;
                padding: 6px 0px;
            }

            .calc-container .well > div {
                padding: 0 16px;

            }

            .btn-results-container.row{
                padding: 13px 0px 0 0;
            }

            .btn-results-container.row > .col-sm-4, .btn-results-container.row > col-sm-8{
                padding: 0;
            }

            .btn-results-container.row > .col-sm-4{
                padding-right: 15px;
            }

            .calc-container .btn-results-container.row {
                margin-top: 16px;
            }

            .calc-container .btn-results-container .row {
                margin: 10px 0;
            }

            .calc-container .input-container label {
                font-size: 14px;
                font-weight: bolder;
                margin-top: 9px;
            }

            .calc-container .input-container input {
                font-size: 14px;
                font-weight: bolder;
                padding: 1% 4%;
            }

            .calc-container .input-container .icon-container {
                padding: 0px 0px;
                font-size: 26px;
                margin-top: -3px;
            }

            .calc-container .input-container .icon-container:hover .fa {
                color: #438dba;
            }

            .calc-container .input-container .row .col-sm-3 {
                padding-left: 0;
                padding-top: 1%;
            }

            .fa {
                color: black;
            }

            .tooltip {
                font-size: 14px;
            }

            .tooltip.show {
                font-size: 14px;
            }

            .tooltip.hide {
                font-size: 14px;
            }

            .calc-container .img-container{
                padding: 19px 32px;
            }

            .calc-container button{
                height: 39px;
                font-size: 14px;
            }

            .cal-image {
                width: 150px;
                height: 150px;
            }

            button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus{
                background-color: #E95420;
            }

        </style>

        <div class="calc-container">
            <div id="title-div" class="row">
                <!-- <img class="cal-image"  src="img/circle.gif"> -->
                <p align="justify">
                    This calculator will find the uel economy of your vehicle.

                    Please enter the distance, fuel used and then click 'Calculate'.
                </p>
            </div>
            <div class="input-container">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="distance">Distance (miles) :	</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="distance">
                    </div>
                    <div class="col-sm-1 icon-container">
                        <a href="#" data-toggle="tooltip" data-placement="right" title="The distance.">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="fuel">Fuel used (US gallons) :	</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="fuel">
                    </div>
                    <div class="col-sm-1 icon-container">
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Fuel used for the above distance.">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="price">Fuel Price (Rs/US gallon) :	</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="price">
                    </div>
                    <div class="col-sm-1 icon-container">
                        <a href="#" data-toggle="tooltip" data-placement="right" title="Price of one liter">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="btn-results-container row">
                <div class="col-sm-4">
                    <button type="button" onclick="computeValue()" class="btn btn-primary btn-lg btn-block">CALCULATE
                    </button>
                </div>
                <div class="col-sm-8" style="padding: 0;">
                    <div id="results-container-well" class="well">
                        <div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <label for="fe">Fuel economy (US mpg)</label>
                                </div>
                                <div class="col-sm-1">
                                    <label>:</label>
                                </div>
                                <div class="col-sm-4">
                                    <label id="fe"> </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <label for="cost">Cost (Rs)</label>
                                </div>
                                <div class="col-sm-1">
                                    <label>:</label>
                                </div>
                                <div class="col-sm-4">
                                    <label id="cost"> </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jstat@1.7.1/dist/jstat.min.js"
                crossorigin="anonymous"></script>
        <!--algos-->
        <script type="text/javascript">
            var SIGNIFICANT = 8;

            function log10($n) {
                return Math.log($n) / Math.log(10);
            }

            function integer($i) {
                if ($i > 0)
                    return Math.floor($i);
                else
                    return Math.ceil($i);
            }

            function precision($x) {
                return Math.abs(integer(log10(Math.abs($x)) - SIGNIFICANT));
            }


            function round_to_precision($x, $p) {
                $x = $x * Math.pow(10, $p);
                $x = Math.round($x);
                return $x / Math.pow(10, $p);
            }

            function precision_string($x) {
                if ($x) {
                    return round_to_precision($x, precision($x));
                } else {
                    return "0";
                }
            }

            function computeValue() {
                var distance = $('#distance').val();
                var fuelUsed = $('#fuel').val();
                var price = $('#price').val();
                try {
                    var fe = (distance/fuelUsed);
                    var cost = price*fuelUsed;
                    $('#fe').text(fe);
                    $('#cost').text(cost);

                }
                catch (err) {
                    alert("Invalid paremeters");
                }

            }
        </script>


    </div>


