<div id="calculator">

    <!--font awesome-->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

    <!--Bootstrap-->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/lumen/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-lBO0+E/aIJhpRIYjP6dJ1mNYgo3hhUBPcF74XRfOM27g7WmDuitolvnUENdDG4QI" crossorigin="anonymous">

    <!--custom-->
    <style>
        .calc-container p {
            font-size: 16px;
        }

        .calc-container {
            width: 100%;
            margin: 0px auto;
            padding-right: 0;
            padding-left: 0;
            max-width: 660px;
        }

        .calc-container button {
            width: 100%;
        }

        .calc-container .div {
            text-align: center;
        }

        .calc-container .form-group {
            display: inline-flex;
        }

        .calc-container .row {
            margin-top: 5px;
        }

        #results-container-well{
            font-size: 14px;
        }

        #results-container-well .row .col-sm-1{
            padding:0;
        }

        #results-container-well label{
            line-height: 0;
        }

        .calc-container .well {
            min-height: 20px;
            background-color: #f5f5f5;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            width: 312px;
            font-size: 19px;
            margin: -2px -2px;
            padding: 6px 0px;
        }

        .calc-container .well > div {
            padding: 0 16px;

        }

        .btn-results-container.row{
            padding: 0 12%;
        }
        .btn-results-container.row > .col-sm-4, .btn-results-container.row > col-sm-8{
            padding: 0;
        }

        .btn-results-container.row > .col-sm-4{
            padding-right: 15px;
        }

        .calc-container .btn-results-container.row {
            margin-top: 16px;
        }

        .calc-container .btn-results-container .row {
            margin-top: 0px;
        }


        .calc-container .input-container{
            padding: 0 10%;
        }

        .calc-container .input-container label {
            font-size: 14px;
            font-weight: bolder;
            margin-top: 9px;
        }

        .calc-container .input-container input {
            font-size: 14px;
            font-weight: bolder;
            padding: 1% 4%;
        }

        .calc-container .input-container .icon-container {
            padding: 0px 0px;
            font-size: 26px;
            margin-top: -3px;
        }

        .calc-container .input-container .icon-container:hover .fa {
            color: #438dba;
        }

        .calc-container .input-container .row .col-sm-3 {
            padding-left: 0;
            padding-top: 1%;
        }

        .fa {
            color: black;
        }

        .tooltip {
            font-size: 14px;
        }

        .tooltip.show {
            font-size: 14px;
        }

        .tooltip.hide {
            font-size: 14px;
        }

        .calc-container .img-container{
            padding: 19px 32px;
        }

        .calc-container button{
            height: 39px;
            font-size: 14px;
        }

        button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus{
            background-color: #158CBA;
        }

    </style>

    <div class="calc-container">
        <p align="justify">
            This calculator will tell you the critical value of the F-distribution, given the probability level, the numerator degrees of freedom, and the denominator degrees of freedom.

            Please enter the necessary parameter values, and then click 'Calculate'.
        </p>
        <div class="input-container">
            <div class="row">
                <div class="col-sm-4">
                    <label for="val1">Degrees of freedom 1 :	</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="val1">
                </div>
                <div class="col-sm-1 icon-container">
                    <a href="#" data-toggle="tooltip" data-placement="right" title="The first degrees of freedom value. This value is associated with the numerator.">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label for="val2"> Degrees of freedom 2 :	</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="val2">
                </div>
                <div class="col-sm-1 icon-container">
                    <a href="#" data-toggle="tooltip" data-placement="right" title="The second degrees of freedom value. This value is associated with the denominator.">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label for="val3"> Probability level :	</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="val3">
                </div>
                <div class="col-sm-1 icon-container">
                    <a href="#" data-toggle="tooltip" data-placement="right" title="Also known as the p-value, alpha level, or type I error rate. By convention, this value should be less than or equal to 0.05 to claim statistical significance.">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="btn-results-container row">
            <div class="col-sm-4">
                <button type="button" onclick="computeValue()" class="btn btn-primary btn-lg btn-block">CALCULATE
                </button>
            </div>
            <div class="col-sm-8" style="padding: 0;">
                <div id="results-container-well" class="well">
                    <div>
                        <div class="row">
                            <div class="col-sm-7">
                                <label for="ans1">Critical F-value:	</label>
                            </div>
                            <div class="col-sm-1">
                                <label>:</label>
                            </div>
                            <div class="col-sm-4">
                                <label id="ans1"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jstat@1.7.1/dist/jstat.min.js"
            crossorigin="anonymous"></script>
    <!--algos-->
    <script type="text/javascript">
        var SIGNIFICANT = 8; // number of significant digits to be returned

        function log10($n) {
            return Math.log($n) / Math.log(10);
        }


        function chisqrdistr ($n, $p) {
            if ($n <= 0 || Math.abs($n) - Math.abs(integer($n)) != 0) {
                throw("Invalid n: $n\n"); /* degree of freedom */
            }
            if ($p <= 0 || $p > 1) {
                throw("Invalid p: $p\n");
            }
            return precision_string(_subchisqr($n-0, $p-0));
        }

        function udistr ($p) {
            if ($p > 1 || $p <= 0) {
                throw("Invalid p: $p\n");
            }
            return precision_string(_subu($p-0));
        }

        function tdistr ($n, $p) {
            if ($n <= 0 || Math.abs($n) - Math.abs(integer($n)) != 0) {
                throw("Invalid n: $n\n");
            }
            if ($p <= 0 || $p >= 1) {
                throw("Invalid p: $p\n");
            }
            return precision_string(_subt($n-0, $p-0));
        }

        function fdistr ($n, $m, $p) {
            if (($n<=0) || ((Math.abs($n)-(Math.abs(integer($n))))!=0)) {
                throw("Invalid n: $n\n"); /* first degree of freedom */
            }
            if (($m<=0) || ((Math.abs($m)-(Math.abs(integer($m))))!=0)) {
                throw("Invalid m: $m\n"); /* second degree of freedom */
            }
            if (($p<=0) || ($p>1)) {
                throw("Invalid p: $p\n");
            }
            return precision_string(_subf($n-0, $m-0, $p-0));
        }

        function uprob ($x) {
            return precision_string(_subuprob($x-0));
        }

        function chisqrprob ($n,$x) {
            if (($n <= 0) || ((Math.abs($n) - (Math.abs(integer($n)))) != 0)) {
                throw("Invalid n: $n\n"); /* degree of freedom */
            }
            return precision_string(_subchisqrprob($n-0, $x-0));
        }

        function tprob ($n, $x) {
            if (($n <= 0) || ((Math.abs($n) - Math.abs(integer($n))) !=0)) {
                throw("Invalid n: $n\n"); /* degree of freedom */
            }
            return precision_string(_subtprob($n-0, $x-0));
        }

        function fprob ($n, $m, $x) {
            if (($n<=0) || ((Math.abs($n)-(Math.abs(integer($n))))!=0)) {
                throw("Invalid n: $n\n"); /* first degree of freedom */
            }
            if (($m<=0) || ((Math.abs($m)-(Math.abs(integer($m))))!=0)) {
                throw("Invalid m: $m\n"); /* second degree of freedom */
            }
            return precision_string(_subfprob($n-0, $m-0, $x-0));
        }


        function _subfprob ($n, $m, $x) {
            var $p;

            if ($x<=0) {
                $p=1;
            } else if ($m % 2 == 0) {
                var $z = $m / ($m + $n * $x);
                var $a = 1;
                for (var $i = $m - 2; $i >= 2; $i -= 2) {
                    $a = 1 + ($n + $i - 2) / $i * $z * $a;
                }
                $p = 1 - Math.pow((1 - $z), ($n / 2) * $a);
            } else if ($n % 2 == 0) {
                var $z = $n * $x / ($m + $n * $x);
                var $a = 1;
                for (var $i = $n - 2; $i >= 2; $i -= 2) {
                    $a = 1 + ($m + $i - 2) / $i * $z * $a;
                }
                $p = Math.pow((1 - $z), ($m / 2)) * $a;
            } else {
                var $y = Math.atan2(Math.sqrt($n * $x / $m), 1);
                var $z = Math.pow(Math.sin($y), 2);
                var $a = ($n == 1) ? 0 : 1;
                for (var $i = $n - 2; $i >= 3; $i -= 2) {
                    $a = 1 + ($m + $i - 2) / $i * $z * $a;
                }
                var $b = Math.PI;
                for (var $i = 2; $i <= $m - 1; $i += 2) {
                    $b *= ($i - 1) / $i;
                }
                var $p1 = 2 / $b * Math.sin($y) * Math.pow(Math.cos($y), $m) * $a;

                $z = Math.pow(Math.cos($y), 2);
                $a = ($m == 1) ? 0 : 1;
                for (var $i = $m-2; $i >= 3; $i -= 2) {
                    $a = 1 + ($i - 1) / $i * $z * $a;
                }
                $p = max(0, $p1 + 1 - 2 * $y / Math.PI
                    - 2 / Math.PI * Math.sin($y) * Math.cos($y) * $a);
            }
            return $p;
        }


        function _subchisqrprob ($n,$x) {
            var $p;

            if ($x <= 0) {
                $p = 1;
            } else if ($n > 100) {
                $p = _subuprob((Math.pow(($x / $n), 1/3)
                    - (1 - 2/9/$n)) / Math.sqrt(2/9/$n));
            } else if ($x > 400) {
                $p = 0;
            } else {
                var $a;
                var $i;
                var $i1;
                if (($n % 2) != 0) {
                    $p = 2 * _subuprob(Math.sqrt($x));
                    $a = Math.sqrt(2/Math.PI) * Math.exp(-$x/2) / Math.sqrt($x);
                    $i1 = 1;
                } else {
                    $p = $a = Math.exp(-$x/2);
                    $i1 = 2;
                }

                for ($i = $i1; $i <= ($n-2); $i += 2) {
                    $a *= $x / $i;
                    $p += $a;
                }
            }
            return $p;
        }

        function _subu ($p) {
            var $y = -Math.log(4 * $p * (1 - $p));
            var $x = Math.sqrt(
                $y * (1.570796288
                + $y * (.03706987906
                    + $y * (-.8364353589E-3
                        + $y *(-.2250947176E-3
                            + $y * (.6841218299E-5
                                + $y * (0.5824238515E-5
                                    + $y * (-.104527497E-5
                                        + $y * (.8360937017E-7
                                            + $y * (-.3231081277E-8
                                                + $y * (.3657763036E-10
                                                    + $y *.6936233982E-12)))))))))));
            if ($p>.5)
                $x = -$x;
            return $x;
        }

        function _subuprob ($x) {
            var $p = 0; /* if ($absx > 100) */
            var $absx = Math.abs($x);

            if ($absx < 1.9) {
                $p = Math.pow((1 +
                    $absx * (.049867347
                        + $absx * (.0211410061
                            + $absx * (.0032776263
                                + $absx * (.0000380036
                                    + $absx * (.0000488906
                                        + $absx * .000005383)))))), -16)/2;
            } else if ($absx <= 100) {
                for (var $i = 18; $i >= 1; $i--) {
                    $p = $i / ($absx + $p);
                }
                $p = Math.exp(-.5 * $absx * $absx)
                    / Math.sqrt(2 * Math.PI) / ($absx + $p);
            }

            if ($x<0)
                $p = 1 - $p;
            return $p;
        }


        function _subt ($n, $p) {

            if ($p >= 1 || $p <= 0) {
                throw("Invalid p: $p\n");
            }

            if ($p == 0.5) {
                return 0;
            } else if ($p < 0.5) {
                return - _subt($n, 1 - $p);
            }

            var $u = _subu($p);
            var $u2 = Math.pow($u, 2);

            var $a = ($u2 + 1) / 4;
            var $b = ((5 * $u2 + 16) * $u2 + 3) / 96;
            var $c = (((3 * $u2 + 19) * $u2 + 17) * $u2 - 15) / 384;
            var $d = ((((79 * $u2 + 776) * $u2 + 1482) * $u2 - 1920) * $u2 - 945)
                / 92160;
            var $e = (((((27 * $u2 + 339) * $u2 + 930) * $u2 - 1782) * $u2 - 765) * $u2
                + 17955) / 368640;

            var $x = $u * (1 + ($a + ($b + ($c + ($d + $e / $n) / $n) / $n) / $n) / $n);

            if ($n <= Math.pow(log10($p), 2) + 3) {
                var $round;
                do {
                    var $p1 = _subtprob($n, $x);
                    var $n1 = $n + 1;
                    var $delta = ($p1 - $p)
                        / Math.exp(($n1 * Math.log($n1 / ($n + $x * $x))
                            + Math.log($n/$n1/2/Math.PI) - 1
                            + (1/$n1 - 1/$n) / 6) / 2);
                    $x += $delta;
                    $round = round_to_precision($delta, Math.abs(integer(log10(Math.abs($x))-4)));
                } while (($x) && ($round != 0));
            }
            return $x;
        }
        function _subtprob ($n, $x) {
            var $a;
            var $b;
            var $w = Math.atan2($x / Math.sqrt($n), 1);
            var $z = Math.pow(Math.cos($w), 2);
            var $y = 1;
            for (var $i = $n-2; $i >= 2; $i -= 2) {
                $y = 1 + ($i-1) / $i * $z * $y;
            }

            if ($n % 2 == 0) {
                $a = Math.sin($w)/2;
                $b = .5;
            } else {
                $a = ($n == 1) ? 0 : Math.sin($w)*Math.cos($w)/Math.PI;
                $b= .5 + $w/Math.PI;
            }
            return max(0, 1 - $b - $a * $y);
        }

        function _subf ($n, $m, $p) {
            var $x;

            if ($p >= 1 || $p <= 0) {
                throw("Invalid p: $p\n");
            }

            if ($p == 1) {
                $x = 0;
            } else if ($m == 1) {
                $x = 1 / Math.pow(_subt($n, 0.5 - $p / 2), 2);
            } else if ($n == 1) {
                $x = Math.pow(_subt($m, $p/2), 2);
            } else if ($m == 2) {
                var $u = _subchisqr($m, 1 - $p);
                var $a = $m - 2;
                $x = 1 / ($u / $m * (1 +
                    (($u - $a) / 2 +
                        (((4 * $u - 11 * $a) * $u + $a * (7 * $m - 10)) / 24 +
                            (((2 * $u - 10 * $a) * $u + $a * (17 * $m - 26)) * $u
                                - $a * $a * (9 * $m - 6)
                            )/48/$n
                        )/$n
                    )/$n));
            } else if ($n > $m) {
                $x = 1 / _subf2($m, $n, 1 - $p)
            } else {
                $x = _subf2($n, $m, $p)
            }
            return $x;
        }

        function _subf2 ($n, $m, $p) {
            var $u = _subchisqr($n, $p);
            var $n2 = $n - 2;
            var $x = $u / $n *
                (1 +
                    (($u - $n2) / 2 +
                        (((4 * $u - 11 * $n2) * $u + $n2 * (7 * $n - 10)) / 24 +
                            (((2 * $u - 10 * $n2) * $u + $n2 * (17 * $n - 26)) * $u
                                - $n2 * $n2 * (9 * $n - 6)) / 48 / $m) / $m) / $m);
            var $delta;
            do {
                var $z = Math.exp(
                    (($n+$m) * Math.log(($n+$m) / ($n * $x + $m))
                        + ($n - 2) * Math.log($x)
                        + Math.log($n * $m / ($n+$m))
                        - Math.log(4 * Math.PI)
                        - (1/$n  + 1/$m - 1/($n+$m))/6
                    )/2);
                $delta = (_subfprob($n, $m, $x) - $p) / $z;
                $x += $delta;
            } while (Math.abs($delta)>3e-4);
            return $x;
        }

        function _subchisqr ($n, $p) {
            var $x;

            if (($p > 1) || ($p <= 0)) {
                throw("Invalid p: $p\n");
            } else if ($p == 1){
                $x = 0;
            } else if ($n == 1) {
                $x = Math.pow(_subu($p / 2), 2);
            } else if ($n == 2) {
                $x = -2 * Math.log($p);
            } else {
                var $u = _subu($p);
                var $u2 = $u * $u;

                $x = max(0, $n + Math.sqrt(2 * $n) * $u
                    + 2/3 * ($u2 - 1)
                    + $u * ($u2 - 7) / 9 / Math.sqrt(2 * $n)
                    - 2/405 / $n * ($u2 * (3 *$u2 + 7) - 16));

                if ($n <= 100) {
                    var $x0;
                    var $p1;
                    var $z;
                    do {
                        $x0 = $x;
                        if ($x < 0) {
                            $p1 = 1;
                        } else if ($n>100) {
                            $p1 = _subuprob((Math.pow(($x / $n), (1/3)) - (1 - 2/9/$n))
                                / Math.sqrt(2/9/$n));
                        } else if ($x>400) {
                            $p1 = 0;
                        } else {
                            var $i0
                            var $a;
                            if (($n % 2) != 0) {
                                $p1 = 2 * _subuprob(Math.sqrt($x));
                                $a = Math.sqrt(2/Math.PI) * Math.exp(-$x/2) / Math.sqrt($x);
                                $i0 = 1;
                            } else {
                                $p1 = $a = Math.exp(-$x/2);
                                $i0 = 2;
                            }

                            for (var $i = $i0; $i <= $n-2; $i += 2) {
                                $a *= $x / $i;
                                $p1 += $a;
                            }
                        }
                        $z = Math.exp((($n-1) * Math.log($x/$n) - Math.log(4*Math.PI*$x)
                            + $n - $x - 1/$n/6) / 2);
                        $x += ($p1 - $p) / $z;
                        $x = round_to_precision($x, 5);
                    } while (($n < 31) && (Math.abs($x0 - $x) > 1e-4));
                }
            }
            return $x;
        }



        function max () {
            var $max = arguments[0];
            for (var $i = 0; $i < arguments.length; $i++) {
                if ($max < arguments[$i])
                    $max = arguments[$i];
            }
            return $max;
        }

        function min () {
            var $min = arguments[0];
            for (var $i = 0; i < arguments.length; i++) {
                if ($min > arguments[$i])
                    $min = arguments[$i];
            }
            return $min;
        }

        function precision ($x) {
            return Math.abs(integer(log10(Math.abs($x)) - SIGNIFICANT));
        }

        function precision_string ($x) {
            if ($x) {
                return round_to_precision($x, precision($x));
            } else {
                return "0";
            }
        }

        function round_to_precision ($x, $p) {
            $x = $x * Math.pow(10, $p);
            $x = Math.round($x);
            return $x / Math.pow(10, $p);
        }

        function integer ($i) {
            if ($i > 0)
                return Math.floor($i);
            else
                return Math.ceil($i);
        }

        function f_icdf(prob,p1,p2) {
            console.log(prob + "," + p1 + "," + p2);
            var res;
            res = inverse_beta(prob, p1/2, p2/2);
            console.log("Res " + res);
            res = (p2*res)/(p1 - (p1*res));

            if (prob == 0)
            res = 0;

            return res;
        }

        function inverse_beta(p, alpha, beta) {
            var x = 0;
            var a = 0;
            var b = 1;
            var precision = 1e-15;

            var iter_num = 0;

            while (((b - a) > precision) & (iter_num < 100))
            {
                x = (a + b) / 2;

                if (betainc_num(x,alpha,beta) > p)
                    b = x;
                else
                    a = x;
                iter_num = iter_num + 1;
            }

            return x;
        }

        function betainc_num(x, a, b) {
            var bt;

            var g_ab;
            var g_a;
            var g_b;

            if ((a + b) >= 171)
                g_ab = land_lgamma_stirling(a+b);
            else
                g_ab = Math.log(land_ios_gamma(a+b));

            if (a >= 171)
                g_a = land_lgamma_stirling(a);
            else
                g_a = Math.log(land_ios_gamma(a));

            if (b >= 171)
                g_b = land_lgamma_stirling(b);
            else
                g_b = Math.log(land_ios_gamma(b));


            bt = Math.exp(g_ab - g_a - g_b + a*Math.log(x)+b*Math.log(1.0-x));


            if (x == 0)
                bt = 0;

            if (x < ((a + 1.0)/(a + b + 2.0)))
                return bt*betacf(a,b,x)/a;
            else
                return 1 - (bt*betacf(b,a,1.0-x)/b);
        }

        function land_lgamma_stirling(x) {
            var t = 0.5*Math.log(2*Math.PI) - 0.5*Math.log(x) + x*(Math.log(x))-x;

            var x2 = x * x;
            var x3 = x2 * x;
            var x4 = x3 * x;

            var err_term = Math.log(1 + (1.0/(12*x)) + (1.0/(288*x2)) - (139.0/(51840*x3))
                                - (571.0/(2488320*x4)));

            var res = t + err_term;
            return res;
        }

        function land_ios_gamma(x) {
            var g = 7;

            var y;
            var t;
            var res_fr;

            var p = new Array()

            p[0] = 0.99999999999980993;
            p[1] = 676.5203681218851;
            p[2] = -1259.1392167224028;
            p[3] = 771.32342877765313;
            p[4] = -176.61502916214059;
            p[5] = 12.507343278686905;
            p[6] = -0.13857109526572012;
            p[7] = 9.9843695780195716e-6;
            p[8] = 1.5056327351493116e-7;

            if (Math.abs(x - Math.floor(x)) < 1e-16)
            {
                if ( x > 1)
                    return sFact(x - 1);
                else if (x == 1)
                    return 1;
                else
                    return 1/0.0;
            }
            else
            {
                x -= 1;

                y = p[0];

                for (i=1; i < g+2; i++)
                {
                    y = y + p[i]/(x + i);
                }
                t = x + g + 0.5;


                res_fr = Math.sqrt(2*Math.PI) * Math.exp(((x+0.5)*Math.log(t))-t)*y;

                return res_fr;
            }
        }

        function betacf(a, b, x) {
            var maxit = 100;
            var eps = 3e-16;
            var fpmin = 1e-30;
            var aa;
            var c;
            var d;
            var del;
            var h;
            var qab;
            var qam;
            var qap;


            qab = a + b;
            qap = a + 1;
            qam = a - 1;

            c = 1.0;
            d = 1.0 - qab*x/qap;

            if (Math.abs(d)<fpmin)
                d = fpmin;

            d = 1.0/d;

            h = d;

            var m2;

            for (m = 1; m < maxit; m++)
            {
                m2 = 2*m;
                aa = m*(b-m)*x/((qam + m2)*(a + m2));
                d = 1.0 + aa*d;

                if (Math.abs(d)<fpmin)
                    d = fpmin;

                c = 1.0 + aa/c;

                if (Math.abs(c)<fpmin)
                    c = fpmin;

                d = 1.0/d;
                h = h*d*c;
                aa = -(a + m)*(qab + m)*x/((a+m2)*(qap+m2));
                d = 1.0 + aa*d;

                if (Math.abs(d)<fpmin)
                    d = fpmin;

                c = 1.0 + aa/c;

                if (Math.abs(c)<fpmin)
                    c = fpmin;

                d = 1.0/d;
                del = d*c;
                h = h*del;

                if (Math.abs(del-1.0)< eps)
                {
                    // std::cout << "Breaking out at iter " << m << std::endl;
                    break;
                }
            }
            // std::cout << " h is " << h << std::endl;
            return h;
        }

        function sFact(num){
            var rval=1;
            for (var i = 2; i <= num; i++)
                rval = rval * i;
            return rval;
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
            $('#val3').keyup(function() {
                $('#val3').css({color: 'black',background: 'white' });
            });
        });
        function computeValue(){
            var df1 =  parseInt($('#val1').val());
            var df2 =  parseInt($('#val2').val());
            var p =  parseFloat($('#val3').val());
            console.log(df1 + "," + df2 + "," + p);
            if(p>=1 || p<=0){
                alert("Enter a number between 0.00001 and 0.99999 for Probability Level")
                $('#val3').css({color: 'white',background: '#da4242' });
                throw Error();
            }

            try {
                var ans1;
                ans1 = f_icdf(1.0 - p,df1,df2);
                $('#ans1').text(precision_string((ans1)));
            }
            catch(err) {
                alert("Invalid paremeters");
                $('.results-container').hide();
            }

        }
    </script>


</div>


