    <div id="calculator">

        <!--font awesome-->
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

        <!--Bootstrap-->
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/lumen/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-lBO0+E/aIJhpRIYjP6dJ1mNYgo3hhUBPcF74XRfOM27g7WmDuitolvnUENdDG4QI" crossorigin="anonymous">

        <!--custom-->
        <style>
            .calc-container p {
                font-size: 16px;
            }

            .calc-container {
                width: 100%;
                margin: 0px auto;
                padding-right: 0;
                padding-left: 0;
                max-width: 660px;
            }

            .calc-container button {
                width: 100%;
            }

            .calc-container .div {
                text-align: center;
            }

            .calc-container .form-group {
                display: inline-flex;
            }

            .calc-container .row {
                margin-top: 5px;
            }

            #results-container-well{
                font-size: 14px;
            }

            #results-container-well .row .col-sm-1{
                padding:0;
            }

            #results-container-well label{
                line-height: 0;
            }

            .calc-container .well {
                min-height: 20px;
                background-color: #f5f5f5;
                border: 1px solid #e3e3e3;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                width: 330px;
                font-size: 19px;
                margin: -2px -2px;
                padding: 6px 0px;
            }

            .calc-container .well > div {
                padding: 0 16px;

            }

            .btn-results-container.row{
                padding: 0 12%;
            }
            .btn-results-container.row > .col-sm-4, .btn-results-container.row > col-sm-8{
                padding: 0;
            }

            .btn-results-container.row > .col-sm-4{
                padding-right: 15px;
            }

            .calc-container .btn-results-container.row {
                margin-top: 16px;
            }

            .calc-container .btn-results-container .row {
                margin-top: 0px;
            }


            .calc-container .input-container{
                padding: 0 10%;
            }

            .calc-container .input-container label {
                font-size: 14px;
                font-weight: bolder;
                margin-top: 9px;
            }

            .calc-container .input-container input {
                font-size: 14px;
                font-weight: bolder;
                padding: 1% 4%;
            }

            .calc-container .input-container .icon-container {
                padding: 0px 0px;
                font-size: 26px;
                margin-top: -3px;
            }

            .calc-container .input-container .icon-container:hover .fa {
                color: #438dba;
            }

            .calc-container .input-container .row .col-sm-3 {
                padding-left: 0;
                padding-top: 1%;
            }

            .fa {
                color: black;
            }

            .tooltip {
                font-size: 14px;
            }

            .tooltip.show {
                font-size: 14px;
            }

            .tooltip.hide {
                font-size: 14px;
            }

            .calc-container .img-container{
                padding: 19px 32px;
            }

            .calc-container button{
                height: 39px;
                font-size: 14px;
            }

            button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus{
                background-color: #158CBA;
            }

            .error-container {
                color: #B22222;
            }

            .hidden {
                display: none;
            }

        </style>

        <div class="calc-container">
            <p align="justify">
                This calculator will compute The standard error of the mean of the given values,
                The standard error of the mean is the standard deviation of the sample mean estimate of a population mean. It is usually calculated by the sample estimate of the population standard deviation (sample standard deviation) divided by the square root of the sample size (assuming statistical independence of the values in the sample)        </p>
            <div class="input-container">

                <div class="row">
                    <div class="col-sm-4">
                        <label for="val1">Comma separated Numbers:		 </label>
                    </div>
                    <div class="col-sm-7">
                        <textarea style="height: 120px;" class="form-control" id="val1" ></textarea>
                    </div>
                    <div class="col-sm-1 icon-container">
                        <a href="#" data-toggle="tooltip" data-placement="right" title="the sample data set ">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="btn-results-container row">
                <div class="col-sm-4">
                    <button type="button" onclick="computeValue()" class="btn btn-primary btn-lg btn-block">CALCULATE
                    </button>
                </div>
                <div class="col-sm-4" style="padding: 0;">
                    <div id="results-container-well" class="well hidden">
                        <div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <label for="ans1">Standard Error of the Mean:</label>
                                </div>
                                <div class="col-sm-4">
                                    <label id="ans1"> </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jstat@1.7.1/dist/jstat.min.js"
                crossorigin="anonymous"></script>
        <!--algos-->
        <script type="text/javascript">
            var SIGNIFICANT = 8;

            function log10($n) {
                return Math.log($n) / Math.log(10);
            }

            function integer($i) {
                if ($i > 0)
                    return Math.floor($i);
                else
                    return Math.ceil($i);
            }

            function precision($x) {
                return Math.abs(integer(log10(Math.abs($x)) - SIGNIFICANT));
            }


            function factorial(value){
                if(value < 0){
                    throw error("Negative factorial detected")
                }else if(value ===0){
                    return 1;
                }
                return value * factorial(value-1)
            }

            function round_to_precision($x, $p) {
                $x = $x * Math.pow(10, $p);
                $x = Math.round($x);
                return $x / Math.pow(10, $p);
            }

            function precision_string($x) {
                if ($x) {
                    return round_to_precision($x, precision($x));
                } else {
                    return "0";
                }
            }

            function tinv(p, dof) {
                var x = jStat.ibetainv(2 * Math.min(p, 1 - p), 0.5 * dof, 0.5);
                x = Math.sqrt(dof * (1 - x) / x);
                return (p > 0) ? x : -x;
            }

            $(document).ready(function() {
                $('[data-toggle="tooltip"]').tooltip();
                $("#results-container-well").show();
            });

            function computeValue() {
                var csv = $('#val1').val();

                try {

                    var strArray = csv.split(',');
                    var fltArray = [];
                    for(var key in strArray){
                        fltArray.push(parseFloat(strArray[key]));
                    }
                    var stdv = jStat.stdev(fltArray,true);
                    var sizeSQRT = Math.sqrt(strArray.length);
                    var sem = precision_string(stdv/sizeSQRT)
                    $('#ans1').text(sem);


                }
                catch (err) {
                    alert("Enter comma seperated values, input error");
                }

            }
        </script>


    </div>


